html {
  font-family: "Abhaya Libre", serif;
}

.logo {
  text-align: center;
}

li {
  display: inline-block;
}

h1 {
  color: #fff;
}

.nav {
  text-align: center;
}

.masthead {
  background-color: #423ca3;
  text-align: center;
}

.btn {
  border-color: transparent;
  background-color: #15114c;
}

@media only screen and (min-width: 60em) {

  .masthead {
    text-align: left;
  }

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }
}
